
:root {
    --header-image: url('');
    --body-bg-image: url('');

    --content: 
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #6eb5e0/*#1E2D40*/;
}

* {
    box-sizing: border-box;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

#container a {
    color: #45718C /*#83c0f5*//*#45718C*/;
    font-weight: bold;
    text-decoration: none;
}

#container a:hover{
    color: #11C5D9;
    text-decoration: underline;
}

#header {
    width: 100%;
    background-color: #F2F2F2/*#F2F2F2*/;
    height: 150px;
    background-size: 100%;
}

#navbar {
    height: 40px;
    background-color: #1E2D40/*#1E2D40*/;
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}


#navbar li a {
    color: #45718C/*#45718C*/;
    font-weight: 800;
    text-decoration: none;
}

#navbar li a:hover {
    color: #11C5D9/*#a49cba*/;
    text-decoration: underline;
}

#flex {
    display: flex;
}

aside {
    background-color: #45718C/*#241445*/;
    width: 200px;
    padding: 20px;
    font-size: smaller;
}

main {
    background-color: #F2F2F2/*#0583F2*/;
    flex: 1;
    padding: 20px;
    order: 2;
}

#leftSidebar {
    order: 1;
} 

#leftSidebar>h2 {
    color: #1E2D40;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #1E2D40/*#1E2D40*/;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
}

h1,
h2,
h3 {
    color: #1a2730/*#45718C*/;
}

h1 {
    font-size: 25px;
}

strong {
    color: #1a2730/*#45718C*/;
}

.box {
    background-color: #F2F2F2/*#1E2D40*/;
    border: 1px solid #1a2730/*#45718C*/;
    padding: 10px;
}

#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #83c0f5/*#1E2D40*/;
}

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

#header {
width: 100%;
background-color: #ffffff;
padding: 20px 30px;
border-bottom: 5px solid #487596;

display: flex;
align-items: center;
justify-content: space-between;
}

#header .logo {
height: 80px;
width: auto;
}

.header-titulo {
    margin: 0;
    text-align: center;
    color: #487596;
    font-size: 22px;
    font-weight: bold;
}



/* footer*/

#footer {
width: 100%;
background-color: #ffffff;
padding: 20px 30px;
border-top: 5px solid #487596;

display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

#footer .logo-footer {
height: 50px;
width: auto;
margin-right: 15px;
}

.footer-titulo {
    margin: 0;
    color: #487596;
    font-size: 15px;
}

