<footer id="footer">

    <a href="#header">
         <figure class="logo-figura" role="img" aria-label="Voltar ao topo da página">
            <img class="logo-footer" src="/img/logo_ime.png" alt="">
        </figure>
    </a>

<div class="footer-blocos">

<div class="footer-texto">
    <p class="footer-titulo">Informativo aos Alunos</p>
    <p class="footer-linha">IME - Instituto de Matemática e Estatística</p>

</div>
            <p class="footer"></p>

                <address class="footer-linha">
                    Rua São Francisco Xavier, 524, Pavilhão Reitor João Lyra Filho,
                    6º andar, Maracanã, Rio de Janeiro - RJ, CEP 20550-900
                </address>

                <p class="footer-linha">
                    Secretaria de Graduação: Sala 6004, Bloco B, (21) 2334-0934,
                    <a href="mailto:secime@ime.uerj.br">secime@ime.uerj.br</a>
                </p>

</div>

</footer>
