<footer id="footer">
    <div class="container py-4">
        <div class="row">

            <div class="footer-coluna footer-coluna-instituto col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
                <a href="#header">
                    <figure class="logo-figura" role="img" aria-label="Logo do Instituto de Matemática e Estatística (IME), com um símbolo do infinito estilizado em azul escuro.">
                        <img class="logo-footer" src="/img/logo_ime.png" alt="" title="Logo do IME">
                    </figure>
                </a>
                <div class="footer-texto">
                    <p class="footer-titulo">Informativo aos Alunos</p>
                    <p class="footer-linha">IME - Instituto de Matemática e Estatística</p>
                </div>
            </div>

            <nav class="footer-coluna footer-coluna-links col-12 col-md-6 col-lg-4 mb-4 mb-md-0" aria-label="Links Úteis">
                <p class="footer-titulo">Links Úteis</p>
                <ul class="footer-links">
                    <li><a href="https://www.uerj.br" target="_blank">Site da UERJ</a></li>
                    <li><a href="https://www.uerj.br/ensino/calendario-academico/" target="_blank">Calendário Acadêmico</a></li>
                    <li><a href="https://www.ime.uerj.br" target="_blank">Site do IME</a></li>
                    <li><a href="https://www.alunoonline.uerj.br" target="_blank">Aluno Online</a></li>
                    <li><a href="https://www.sou.uerj.br" target="_blank">Sou UERJ</a></li>
                    <li><a href="https://www.uerj.br/a-uerj/comunidade-da-uerj/id-unico/" target="_blank">ID Único UERJ</a></li>
                    <li><a href="https://www.rsirius.uerj.br/extras/inscreva-se" target="_blank">Cadastro na Biblioteca</a></li>
                    <li><a href="https://www.dep.uerj.br/arqs/ManualAluno_reduzido_2024.pdf" target="_blank">Manual do Aluno</a></li>
                    <li><a href="https://www.dep.uerj.br/fluxogramas.php" target="_blank">Fluxogramas dos Cursos</a></li>
                </ul>
            </nav>

            <div class="footer-coluna footer-coluna-contato col-12 col-lg-4">
                <p class="footer-titulo">Contato</p>
                <address class="footer-linha">
                    Rua São Francisco Xavier, 524, Pavilhão Reitor João Lyra Filho,
                    6º andar, Maracanã, Rio de Janeiro - RJ, CEP 20550-900
                </address>
                <p class="footer-linha">
                    Secretaria de Graduação: Sala 6004, Bloco B, (21) 2334-0934,
                    <a href="mailto:secime@ime.uerj.br">secime@ime.uerj.br</a>
                </p>
            </div>

        </div>
    </div>
</footer>


