<header id="header">

    <a class="pular-conteudo" href="#conteudo">Pular para o conteúdo</a>

    <figure class="logo-figura" role="img" aria-label="Logo da Universidade do Estado do Rio de Janeiro, com uma tocha acesa e o número 75 em comemoração aos 75 anos da instituição.">
        <img class="logo" src="/img/logo_uerj.png" alt="" title="Logo da UERJ 75 anos">
    </figure>

    <p class="header-titulo">Informativo aos Alunos - IME / UERJ</p>


    <a href="/" aria-label="Página inicial">
        <figure class="logo-figura" role="img" aria-label="Logo do Instituto de Matemática e Estatística (IME), com um símbolo do infinito estilizado em azul escuro.">
            <img class="logo" src="/img/logo_ime.png" alt="" title="Logo do IME">
        </figure>
    </a>

</header>


