
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Explicacao-site/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alternar navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/reitoria-sec/">Reitoria</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Departamentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/pr1/">PR1</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/departamentos-pr4/">PR4</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/aluno-online/">Aluno Online</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ID-Email-SouUerj/">ID, Email e SOU UERJ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cursos-departamentos/">Cursos e Departamentos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/info-biblioteca/">Biblioteca</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/inscricao-disciplinas/">Inscrição em Disciplinas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/links_uteis/">Links Uteis</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
