<nav id="navbar">
    <ul>
        <li><a href="/Explicacao-site/">Home</a></li>
        <li><a href="/reitoria-sec/">Reitoria</a></li>
        <li><a href="/pr1/">Departamentos PR1</a></li>
        <li><a href="/departamentos-pr4/">Departamentos PR4</a></li>
        <li><a href="/aluno-online/">Aluno Online</a></li>
        <li><a href="/ID-Email-SouUerj/">ID, E-mail e SOU UERJ</a></li>
        <li><a href="/cursos-departamentos/">Cursos e Departamentos</a></li>
        <li><a href="/info-biblioteca/">Biblioteca</a></li>
        <li><a href="/inscricao-disciplinas/">Inscrição em Disciplinas</a></li>
    </ul>
</nav>
